
<div class="row">
    <h1 class="page-header">
        {{adminPageTitle}}
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i>
            <a href="/admin">Dashboard</a>
        </li>
        <li class="active">
            <i class="fa fa-bar-chart-o"></i> {{adminPageTitle}}
        </li>
    </ol>
</div>

<form action='/admin/add-product' METHOD='post' encType="multipart/form-data">
    <div class="modal-body">
        <div class="form-group">
            <ul class="list-group">
                <li class="list-group-item">
                    <label for='name'>Name</label>
                    <input class="form-control" name='name' onchange="myFunction()" type="text" placeholder="">
                </li>
            </ul>
        </div>
        <div class="form-group">
            <ul class="list-group">
                <li class="list-group-item">
                    <label >SKU/Code</label>
                    <input class="form-control" readonly name='code' id="demo" placeholder="">
                </li>
           
                <li class="list-group-item">
                    <label for='title'>Title</label>
                    <input class="form-control" name='title' type="text" placeholder="">
                </li>
                <li class="list-group-item">
                    <label for='price'>Price</label>
                    <input class="form-control" name='price' type="text" placeholder="">
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-5">
                            <label for='Latitude'>Latitude</label>
                            <input class="form-control" id="lati" name='Latitude' type="text">
                        </div>
                        <div class="col-md-5">
                            <label for='Longitude'>Longitude</label>
                            <input class="form-control" id="long" name='Longitude' type="text">
                        </div>
                        <div class="col-md-2">
                            <label for='Auto'>Auto</label>
                            <a type="button" onclick="getLocation()">
                                <img height="45px" src="../images/Location-Auto-Locate-Current-Location-Geo-512.png">
                            </a>
                        </div>
                        {{!-- position.coords.longitude --}}
                    </div>
                </li>
                <script>
                    var x = document.getElementById("lati");
                    var y = document.getElementById("long");

                    function getLocation() {
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(showPosition);
                        } else {
                            x.innerHTML = "Geolocation is not supported by this browser.";
                        }
                    }

                    function showPosition(position) {
                        x.value = position.coords.latitude;
                        y.value = position.coords.longitude;
                    }
                </script>


                <div class="row">
                    <div class="col-md-6">
                        <li class="list-group-item">
                            <label for='parking '>parking ?</label>
                            <div class="material-switch pull-right">
                                No
                                <input id="parking " name="parking " type="checkbox" />
                                <label for="parking " class="label-success"></label> Yes
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label for='Pool'>Pool?</label>
                            <div class="material-switch pull-right">
                                No
                                <input id="Pool" name="Pool" type="checkbox" />
                                <label for="Pool" class="label-success"></label> Yes
                            </div>
                        </li>
                    </div>
                    <div class="col-md-6">
                        <li class="list-group-item">
                            <label for='campfire'>campfire?</label>
                            <div class="material-switch pull-right">
                                No
                                <input id="campfire" name="campfire" type="checkbox" />
                                <label for="campfire" class="label-success"></label> Yes
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label for='Wifi'>Wifi?</label>
                            <div class="material-switch pull-right">
                                No
                                <input id="Wifi" name="Wifi" type="checkbox" />
                                <label for="Wifi" class="label-success"></label> Yes
                            </div>
                        </li>
                    </div>

                </div>
                <li class="list-group-item">
                    <label for='description'>Description</label>
                    <textarea rows="2" class="form-control" [(ngModel)]="newProduct.description" name='description' placeholder=""></textarea>
                </li>
                <li class="list-group-item">
                    <label for='category'>Category</label>
                    <select class='form-control' name='category'>
                        {{#each allcats}}
                        <option value="{{this.name}}">{{this.slug}}</option>

                        {{/each}}
                    </select>
                </li>
                <li class="list-group-item">
                    <label for='Product_Group'>Product Type</label>
                    <select class='form-control' name='Product_Group'>
                        <option value="APPAREL">Featured</option>
                        <option value="SIMPLE">Non Featured</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <ul class="list-group">
                <li class="list-group-item">
                    <label for='imageFile'>Display Image</label>
                    <input type='file' name='imageFile' class='form-control'>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <ul class="list-group">
                <li class="list-group-item">
                    <label for='imageFile1'>Gallery1</label>
                    <input type='file' name='imageFile1' class='form-control'>

                </li>
            </ul>
        </div>
        <div class="form-group">
            <ul class="list-group">
                <li class="list-group-item">
                    <label for='imageFile2'>Gallery2</label>
                    <input type='file' name='imageFile2' class='form-control'>

                </li>
            </ul>
        </div>
        <div class="form-group">
            <ul class="list-group">
                <li class="list-group-item">
                    <label for='imageFile3'>Gallery3</label>
                    <input type='file' name='imageFile3' class='form-control'>

                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" onClick="submit();" data-dismiss="modal" class="btn btn-warning btn-lg" style="width: 100%;">
            <span class="glyphicon glyphicon-plus"></span> Add</button>
    </div>
</form>

<script>
    function myFunction() {
        var x = document.getElementById("demo")
        x.value = Math.floor((Math.random() * 1000000) + 1);
    }
</script>