<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Dashboard</h3>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="/admin">
                <i class="material-icons fit">dashboard</i>DASHBOARD</a>
        </li>
        <li class="active">
            <a href="/admin/orders">
                <i class="material-icons fit">event_note</i>Booking</a>
        </li>
        <li>
            <a href="/admin/products">
                <i class="material-icons fit">Property</i> Details</a>
        </li>
        <li>
            <a href="/admin/availability">
                <i class="material-icons fit"></i>Availability</a>
        </li>
        <li>
            <a href="/admin/messages">
                <i class="material-icons fit"></i>Messages</a>
        </li>
        <li>
            <a href="/admin/categories">
                <i class="material-icons fit">notifications</i>Categories</a>
        </li>
        <li>
            <a href="/admin/users">
                <i class="material-icons fit"></i>Users</a>
        </li>
        <li>
            <a href="/admin/stores">
                <i class="material-icons fit"></i>Events Map</a>
        </li>
        <li>
            <a href="/admin/setup">
                <i class="material-icons fit">settings</i>Settings</a>
        </li>
        <li>
            <a href="#">
                <i class="material-icons fit">error</i>ABOUT </a>
        </li>
    </ul>

 
</nav>