<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/vendor">{{title}}</a>
        <ul class="nav navbar-nav navbar-right">
            {{#if allcats }}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <span class="fa fa-caret-down" title="User Menu" aria-hidden="true"></span>&nbsp;Categories
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/">All</a>
                    </li>
                    {{#each allcats}}
                    <li>
                        <a href="/category/{{this._id}}">{{this._id}}</a>
                    </li>
                    {{/each}}
                    <li>
                        <button class="btn btn-success btn-sm" data-title="View" data-toggle="modal" data-target="#category-modal">View Category Document
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </p>
                        <!-- Add Dialog -->
                    </li>
                </ul>
            </li>
            {{/if}}

        </ul>
    </div>
    <!-- Top Menu Items -->
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
                <a href="index.html">
                    <i class="fa fa-fw fa-dashboard"></i> Activities</a>
            </li>
            <li>
                <a href="/vendor/orders">
                    <i class="fa fa-fw fa-bar-chart-o"></i>Bookings</a>
            </li>
            <li>
                <a href="/vendor/products">
                    <i class="fa fa-fw fa-table"></i> My Events</a>
            </li>
            <li>
                <a href="/vendor/categories">
                    <i class="fa fa-fw fa-table"></i> Availability</a>
            </li>
            <li>
                <a href="/vendor/propertydetails">
                    <i class="fa fa-fw fa-map-marker"></i> Property details</a>
            </li>
            <li>
                <a href="/vendor/activities">
                    <i class="fa fa-fw fa-table"></i> Page Visitors</a>
            </li>
            <li>
                <a href="/setup">
                    <i class="fa fa-fw fa-table"></i> Settings</a>
            
            <li>
                <a href="/vendor/add-product">
                <i class="fa fa-plus-square-o"></i> Add Event</a>
            </li>
         
        </ul>

    </div>
    <!-- /.navbar-collapse -->
</nav>
