<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Dashboard</h3>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="/vendor">
                <i class="material-icons fit">dashboard</i>DASHBOARD</a>
        </li>
        <li class="active">
            <a href="/vendor/orders">
                <i class="material-icons fit">event_note</i>Booking</a>
        </li>
        <li>
            <a href="/vendor/products">
                <i class="material-icons fit">Property</i> Details</a>
        </li>
        <li>
            <a href="/vendor/availability">
                <i class="material-icons fit">Property</i>Availability</a>
        </li>
        <li>
            <a href="/vendor/messages">
                <i class="material-icons fit"></i>Messages</a>
        </li>

        <li>
            <a href="/vendor/stores">
                <i class="material-icons fit"></i>Events Map</a>
        </li>
        <li>
            <a href="/vendor/setup">
                <i class="material-icons fit">settings</i>Settings</a>
        </li>
        <li>
            <a href="/vendor/add-product">
                <i class="material-icons fit">error</i>Add event </a>
        </li>
    </ul>
</nav>