<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Thrillworld">
    <title>Shop | {{title}} </title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="{{themeurl}}" rel="stylesheet">
    <link href="/stylesheets/responsive.css" rel="stylesheet">
    <link href="/stylesheets/flexslider.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
  
   
</head>


<body>
    {{>eshop/headerall}}
    <section class="tophig">
        <div class="container">
            <div class="row">
               
            </div>
            <div class="row">
                {{{body}}}
            </div>
        </div>
    </section>
    {{>eshop/footer}}

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/price-range.js"></script>
    <script src="/javascripts/jquery.scrollUp.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.prettyPhoto.js"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>