body {
	padding: 0;
	margin: 0;
	background:none ;
	font-family: 'Open Sans', sans-serif;
}
body a {
	color:#0a0a0a;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 12px;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
}
p {
	margin: 0;
	line-height: 1.7em;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type:none;
		transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
label {
	margin: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
/*-- //Reset-Code --*/

/* nav top */

.nav-top {
    display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
    justify-content: space-between;
	-ms-flex-pack: space-between;
}
.nav-top a:hover {
    color: yellow;
}

.agile-banner {
    min-height: 750px;
    font-size: 18px;
    height:820px;
    margin-top: -97px;
    background-size: cover;
    background-position: center;
	    background-color: rgba(0, 0, 0, 0.16);
}
.navbar-header {
    width: 200px;
    text-align: center;
    padding: 5px 0px;
    
}
.logo-wrap img {
  height: 50px;
  width: 160px;
}
.logo-wrap a {
    font-size: 30px;
    font-weight: 600;
	color: white;
}
.logo-wrap a span {
    display: block;
    margin-top: -8px;
	margin-left: 8px;
}
.logo-wrap a:hover {
    color: #FFEB3B;
    -webkit-transition: 0.5s all;
}
.nav-wrap {
    width: calc( 100% - 200px );
	padding: 5px;
}
.samls-nav {
    text-align: right;
}
ul.nav li a:hover {
    	background-color: #F44336;
    color: rgb(255, 255, 0);
}
ul.nav li.active a {
	background-color: #F44336;
    color: rgb(255, 255, 0);
}
.navbar-nav>li>a {
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 8px 10px;
        margin-top: 7px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  
  }
.navbar-nav {
    margin: 0;
  
    float: none;
    display: inline-block;
}

.container-fluid {
    padding: 0 50px;
}
nav.navbar.sam-navbar {
    margin: 0;
 border-radius: 0;
        z-index: 2;
       
}
.heading {
    padding-top: 25%;
	    text-align: center;
		color: white;
}
.heading h1 {
    font-size: 50px;
    text-transform: Capitalize;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 25px;

}
.heading a {
    background-color:rgb(255, 255, 255);
    padding: 10px 20px;
	    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading a:hover {
    color: #FFEB3B;
}
.heading p {
    margin-bottom: 30px;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 260px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #009688;
  color: white;
  transform: rotateY(180deg);
}

/* Banner */
/* About */
.feah{
    color:#100f0f;
    text-align:left;
}
div#about {
    padding: 0px 0px;
    text-align: center;
    color: white;
        width: 100%;
       height:350px;
       background-color: rgb(255, 255, 255);
        -webkit-background-size: cover cover;
        background-size: cover;
   
}
div#about h2 {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 1px;

}

#about h4 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
	font-weight: bold;
	    font-style: italic;
    color: #00ff0a;
}
.box span.fa {
    font-size: 45px;
	    margin: 20px 0px;
	    color: #FFEB3B;
}
.box p {
    line-height: 35px;
	font-size: 15px;
    letter-spacing: 1px;
}
.service .box {
	margin: 30px 0px;
  /*  display: inline-block;
    width: 30%;
    
	    padding: 0px 15px; */
}
.ask-help {
 /*   padding: 48px 0px 0px; */
    background: url(../images/ask1.jpg) no-repeat;
    min-height: 400px;
    background-size: cover;
}
.help-txt {
    width: 450px;
    padding: 80px 30px 30px;
    color: white;
	background-color: #FF5722;
	height: 400px;
}
.help-txt h5 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
	    letter-spacing: 1px;
}
.help-txt p {
    font-size: 16px;
    margin-bottom: 30px;
}
.help-txt a {
    background-color: #03A9F4;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
}
/*--footer--*/
.footer{
	background:#eee;
	padding:2em 0;
	border-top:1px solid #c0c0c0;
}
.about-us h3{
	 color: #555;
	font-size:1.8em;
	font-family: 'Dosis-Medium';
	margin-bottom:1em;
}
.about-us p{
	line-height:1.7em;
	color:#7F7F7F;
	font-size:0.9em;
}
.ftr-grid h3 {
    font-size: 1.8em;
    color: #555;
    font-family: 'Dosis-Medium';
    margin: 0 0 1em;
}
ul.nav-bottom li {
    list-style: none;
	padding:2px 0;
}

ul.nav-bottom li a {
    text-decoration: none;
    color: #7F7F7F;
    font-size: 0.9em;
    display: inline-block;
}
ul.nav-bottom li a:hover{
    color: #ed645c;
}
ul.nav-bottom li:nth-child(1){
	margin:0;
}
.copywrite{
	padding:1em 0;
	background:#7D7D7D;
}
.copy{
	float:left;
}
.copy p{
	color:#fff;
	font-size:0.95em;
	padding-top:10px;
}
.copy p a{
	color:#fff;
}
.copy p a:hover{
	color:#ed645c;
}
.social {
  margin: 0em 0;
  float: right;
}
.social i {
width: 27px;
height: 27px;
background: url('../images/social.png') no-repeat 0px 0px;
display: inline-block;
margin:0 5px;
}
a i.facebook{
background-position:-3px -2px;
}
a i.twitter{
background-position: -43px -3px;
}
a i.dribble{
background-position: -83px -3px;
}
a i.google{
background-position:-126px -2px
}
a i.youtube{
background-position:-167px -3px;
}
a i.facebook:hover{
background-position:-3px -36px;
}
a i.twitter:hover{
background-position: -43px -36px;
}
a i.dribble:hover{
background-position: -83px -36px;
}
a i.google:hover{
background-position:-126px -36px
}
a i.youtube:hover{
background-position:-167px -36px;
}
/* //About */
.about h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
    font-weight:600;
    color: #009688;
}
/*-- gallery property--*/
div#property {
    padding:0px;
    text-align: center;
	    background-color: rgb(255, 255, 255);
}
.prop {
    margin-top: 30px;
}

.prop h6 {
    margin: 20px;
    font-size: 25px;
	    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 2px;
}
h4.pricetag {
    font-size: 25px;
    color: #fffefe;
    margin-bottom: 5px;
    background-color: #E91E63;
    padding: 10px 0px;
	letter-spacing: 2px;
}
.prop p {
    margin-bottom: 25px;
    letter-spacing: 1px;
	    line-height: 25px;
		    font-size: 15px;
}

.prop a {
    background-color: #009688;
    padding: 10px 25px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
	color: #ffffff;
}
.prop a:hover {
    color: #FFEB3B;
}
ul.house-list p {
    display: inline-block;
    width: 58%;
    margin-bottom: 10px;
    font-weight: bold;
}
ul.house-list {
    text-align: left;
	    font-weight: bold;
    font-size: 15px;
}
.modal-header {
    font-size: 30px;
	    color: black;
    text-transform: uppercase;
}
.modal-body img.img-responsive {
    margin: auto;
    margin-bottom: 15px;
}
.prop .modal-body img.img-responsive {
    margin-bottom: 0px;
}
.modal-body p {
    color: black;
    font-size: 16px;
    line-height: 33px;
}
.modal-backdrop{
    z-index: -2 !important;
    background-color: #b95959 !important;
}
img.zoom-img:hover {
    -webkit-transform: scale(1.15);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 750ms;
    -moz-transform: scale(1.15);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 750ms;
    overflow: hidden;
}

img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
.mask{
	overflow: hidden;
}
.mask img.img-responsive.zoom-img {
    margin: auto;
    cursor: pointer;
}
/*-- //gallery property --*/
/* guides team */
div#agent {
    padding: 5% 0px 3%;
    background-color: #eeeeee;
    color: white;
}
h3.text-center {
    margin-bottom: 40px;
    font-size: 35px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bold;
}
.guide-grids h4 {
    margin: 20px 0px 10px;
	text-transform: capitalize;
	letter-spacing: 2px;
}
.guide1 img, .guide2 img, .guide3 img, .guide4 img {
    width: 200px;
    margin: auto;
	border-radius: 50%;
}
.guide-grids {
    text-align: center;
}
.guide-grids p {
    margin: 20px 0px;
    line-height: 2;
}
p.designation {
    color: #FFEB3B;
    font-size: 14px;
	    font-style: italic;
}

/*-- social-wthree-icons --*/  
.social-wthree-icons ul li {
    display: inline-block;
}
.social-wthree-icons ul li { 
    text-align: center; 
}
.social-wthree-icons ul li a.fa {
    font-size: 0.9em;
    color: #fff;
    line-height: 2.8em;
    width: 35px;
    height: 35px;
    display: inline-block;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}
.icon-border {
	position: relative;
}
.icon {
    vertical-align: top;
    overflow: hidden;
    margin:0 4px;
    width: 30px;
    height: 30px;
}
.icon-border::before,
.icon-border::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
/*	content: ""; */
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
} 
.icon-border::before {
	z-index: 1;
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;      
}  
.social-wthree-icons ul li a.fa.facebook:hover{
	color:#3b5998;
background-color: white;
    border-radius: 50%;
    border: 2px solid white;	
} 
.social-wthree-icons ul li a.fa.twitter:hover{
	color:#4099ff; 
background-color: white;
    border-radius: 50%;
    border: 2px solid white;	
} 
.social-wthree-icons ul li a.fa.googleplus:hover{
	color:#d34836; 
background-color: white;
    border-radius: 50%;
    border: 2px solid white;	
} 
 
/* facebook */
.icon-border.facebook::before {
	-webkit-box-shadow: inset 0 0 0 48px #3b5998; 
	-moz-box-shadow: inset 0 0 0 48px #3b5998; 
	-o-box-shadow: inset 0 0 0 48px #3b5998; 
	-ms-box-shadow: inset 0 0 0 48px #3b5998; 
	box-shadow: inset 0 0 0 48px #3b5998;  
} 
.icon-border.facebook:hover::before {
	-webkit-box-shadow: inset 0 0 0 2px #3b5998; 
	-moz-box-shadow: inset 0 0 0 2px #3b5998; 
	-o-box-shadow: inset 0 0 0 2px #3b5998; 
	-ms-box-shadow: inset 0 0 0 2px #3b5998; 
	box-shadow: inset 0 0 0 2px #3b5998; 
}  
/* twitter */
.icon-border.twitter::before {
	-webkit-box-shadow: inset 0 0 0 48px #4099ff;
	-moz-box-shadow: inset 0 0 0 48px #4099ff;
	-o-box-shadow: inset 0 0 0 48px #4099ff;
	-ms-box-shadow: inset 0 0 0 48px #4099ff;
	box-shadow: inset 0 0 0 48px #4099ff;
} 
.icon-border.twitter:hover::before {
	-webkit-box-shadow: inset 0 0 0 2px #4099ff;
	-moz-box-shadow: inset 0 0 0 2px #4099ff;
	-o-box-shadow: inset 0 0 0 2px #4099ff;
	-ms-box-shadow: inset 0 0 0 2px #4099ff;
	box-shadow: inset 0 0 0 2px #4099ff;
} 
/* google plus */
.icon-border.googleplus::before {
	-webkit-box-shadow: inset 0 0 0 48px #d34836;
	-moz-box-shadow: inset 0 0 0 48px #d34836;
	-o-box-shadow: inset 0 0 0 48px #d34836;
	-ms-box-shadow: inset 0 0 0 48px #d34836;
	box-shadow: inset 0 0 0 48px #d34836;
} 
.icon-border.googleplus:hover::before {
	-webkit-box-shadow: inset 0 0 0 2px #d34836;
	-moz-box-shadow: inset 0 0 0 2px #d34836;
	-o-box-shadow: inset 0 0 0 2px #d34836;
	-ms-box-shadow: inset 0 0 0 2px #d34836;
	box-shadow: inset 0 0 0 2px #d34836;
} 

/*-- //social-wthree-icons --*/

/* //guides team */

/*  map	 */
.map iframe {
    width: 97%;
    height: 330px;
    border: 0;
}

/* //map */
/* contact */
div#contact {
    padding: 5% 0px 0px;
	    background-color: #607D8B;
    color: #fff;
}

h3.center {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.form-input {
    display: inline-block;
    width: 33%;
}
span.sam-star {
    color: red;
}
.form-input label, .form-textarea label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}
.form-input input {
    width: 90%;
	    padding: 10px;
    margin-bottom: 30px;
	color: black;
}
textarea {
    width: 96.5%;
	padding: 10px;
    margin-bottom: 30px;
	    color: black;
}
.agile-contact1 {
    background-color: #eeeeee;
    color: #a73737;
}
input[type="Submit"] {
    background-color: #ff000000;;
    padding: 10px 25px;
    border: 1px solid #ff000000;;
    margin-bottom: 30px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
}
input[type="Submit"]:hover {
    background-color: #795548;
    color: white;
    border: 1px double white;
}
.address {
    display: flex;
		display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
    justify-content: space-between;
	-ms-flex-pack: space-between;
    margin-top: 30px;
	    text-align: center;
		    letter-spacing: 1px;
}
.add-email a {
    display: block;
    margin-bottom: 10px;
}
.address span.fa {
    display: block;
    text-align: center;
    margin-bottom: 15px;
	    font-size: 30px;
}
h3.my-logo {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 7px;
    font-size: 45px;
    margin: 10px 0px;
}
ul.icons1 li {
    display: inline-block;
    font-size: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    margin-right: 15px;
}
ul.icons1 {
    text-align: center;
    margin: 30px;
}
ul.icons1 li:hover a.samls-facebook {
    color: #3b5998;
}
ul.icons1 li:hover a.samls-twitter {
    color: #00b6f1;
}
ul.icons1 li:hover a.samls-google {
    color: #df4a32;
}
ul.icons1 li:hover a.samls-pinterest {
    color: #cb2027;
}
ul.icons1 li:hover a.samls-dribbble {
     color: #ea4c89;
	
}
ul.icons1 li:hover {
    background-color: white;
}
/* copyright */
.agileits-samlayouts {
    background-color: #251814;
    text-align: center;
    padding: 20px 0px;
    color: #fff;
	    letter-spacing: 1px;
}
.agileits-samlayouts a:hover {
    color: #f9f903;
}
/* //contact */
/*Go to Top*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*-------------------------------------------------------*/

/* responsive */
@media screen and (max-width: 1366px){
	.agile-banner {
		min-height: 700px;
	}
	
	.ask-help {
		background-position: 80% 50%;
}
	
}

@media screen and (max-width: 1280px){}

@media screen and (max-width: 1080px){
	.heading h1 {
    font-size: 45px;
		margin-bottom: 20px;
	}
	.agile-banner {
    /* background: url(../images/banner6.jpg) no-repeat fixed; */
    min-height: 675px;
	}
	.heading {
    padding-top: 20%;

	}
	.heading p {
		font-size: 16px;
}
.partner p {
    font-size: 15px;
    letter-spacing: 0.5px;
}
.modal-header {
    padding: 5px;
}

}

@media screen and (max-width: 1050px){}

@media screen and (max-width: 1024px){}

@media screen and (max-width: 991px){
	.heading h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.agile-banner {
    min-height: 650px;
}
div#about h2 {
    font-size: 20px;
}
.service .box {

}
.social-wthree-icons.bnragile-icons {
    margin-bottom: 30px;
}
.form-input {
    display: inline-block;
    width: 32.9%;
}
.map iframe {
    width: 96%;
    height: 275px;
}

}

@media screen and (max-width: 900px){
	.heading h1 {
    font-size: 37px;
    margin-bottom: 10px;
}
.heading p {
    font-size: 15px;
}
.agile-banner {
    min-height: 630px;
}
.partner {
    margin-bottom: 30px;
    padding: 0px 5px;
}


}

@media screen and (max-width: 800px){
	.navbar-header {
    width: 150px;
}
.heading {
    padding-top: 25%;
}
.nav-wrap {
    width: calc( 100% - 150px );
    padding: 5px;
}
.container-fluid {
    padding: 0 20px;
}
.heading p {
    font-size: 15px;
    padding: 0px 20px;
}
.heading h1 {
    font-size: 35px;
}
.help-txt h5 {
    font-size: 35px;
}
.help-txt {
    width: 400px;
    padding: 60px 30px 30px;
    color: white;
}
.ask-help {
    background-position: 90% 50%;
}

}

@media screen and (max-width: 768px){
	.heading h1 {
    font-size: 32px;
}

}

@media screen and (max-width: 767px){
	.container-fluid {
    padding: 0 50px;
}
	button.navbar-toggle {
    border: 1px solid #ffffff;

}
.navbar-header {
    width: 100%;
    text-align: left;
}
	.sam-hide {
    display: none;
}
.logo-wrap a span {
    margin-left: 1px;
}
.nav-wrap {
    width: 100%;
	    padding: 0px;
}
.navbar-toggle .icon-bar {
	    background-color: aliceblue;
}
.heading h1 {

    padding: 10px;
    font-size: 40px;

}
.heading {
    padding-top: 25%;
	    padding-bottom: 3%;
}
h3.center {
    font-size: 32px;
}
div#about h2 {
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
	margin-bottom: 10px;
}
div#about p {
    font-size: 15px;
    letter-spacing: 1px;
}
.guide1 img, .guide2 img, .guide3 img, .guide4 img {
    width: 150px;
}
.modal-dialog {
	margin: 40px;
}
.partner img.img-responsive {
    margin: auto;
}
.mask img.img-responsive.zoom-img {
    margin: auto;
}
.partner {
    margin-bottom: 30px;
    padding: 0px 20px;
    display: inline-block;
    width: 49%;
}
.prop {
    margin-top: 30px;
    width: 49%;
    display: inline-block;
}
.samls-nav {
    text-align: center;
}
/* 
 .navbar-top {
position: relative;
}
div#bs-example-navbar-collapse-1 {
background: rgba(0, 0, 0, 0.83);
position: absolute;
width: 100%;
z-index: 9999;
}
.navbar-toggle {
border: 1px solid rgb(255, 255, 255);
}
.navbar-toggle .icon-bar {
background: #FFFFFF;
}
.navbar-toggle {
margin-top: 15px;
}
ul.nav.navbar-nav li a {
margin: .5em 0;
padding: .5em 0;
}
.navbar-nav {
float: none;
text-align: center;
margin: 1em 0;
}
/* */
}
@media screen and (max-width: 736px){
	.heading {
    padding-top: 21%;
}
.ask-help {
    background-position: 87% 50%;
}

}
@media screen and (max-width: 667px){
	.heading h1 {
    padding: 0 10px;
    font-size: 36px;
}
.heading a {
    font-size: 15px;
}
#about h4 {
    margin-top: 35px;
}
.help-txt h5 {
    font-size: 30px;
}
.help-txt {
    width: 340px;
    padding: 25px 20px 25px;
    color: white;
    height: 350px;
}
.ask-help {
    min-height: 350px;
}
.prop h6 {
    margin: 15px;
}
.prop {
    margin-top: 40px;
}
h3.center {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
}
h3.my-logo {
    font-size: 40px;
}
ul.icons1 li {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 36px;
    margin-right: 10px;
}
.map iframe {
    width: 96%;
    height: 240px;
}

}
@media screen and (max-width: 640px){
	.heading h1 {
    padding: 0 10px;
    font-size: 35px;
}
.agile-banner {
    min-height: 575px;
}
.container-fluid {
    padding: 0px 30px;
}
ul.house-list p {
    width: 70%;
	    line-height: 1.7;
}

}
@media screen and (max-width: 600px){
	.heading h1 {
    font-size: 32px;
}
div#about h2 {
    font-size: 20px;
}
.help-txt {
    width: 320px;
    padding: 20px 10px 20px;
    color: white;
    height: 330px;
}
.ask-help {
    min-height: auto;
}
.partner {
    margin-bottom: 20px;
    padding: 0px 10px;
}
.prop {
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0px 5px;
}
.form-input {
    display: inline-block;
    width: 32.7%;
}
@media all and (max-width: 600px) and (orientation:landscape) 
{
    .heading {
        padding-top: 64% !important;
    }
}
.heading {
    padding-top: 37%;
}


}
@media screen and (max-width: 568px){
	.heading h1 {
    font-size: 30px;
}

.help-txt h5 {
    font-size: 25px;
}
.help-txt {
    width: 280px;
    padding: 20px 10px 20px;
    color: white;
    height: 300px;
}
.modal-dialog {
    margin: 15px;
}
}
@media screen and (max-width: 480px){
	.sam-socials {
    display: none;
}
.heading h1 {
    font-size: 25px;
}
.agile-banner {
    min-height: 550px;
}
.modal-header {
    padding: 5px;
    font-size: 25px;
}
.heading p {
    font-size: 14px;
    padding: 0px 20px;
    line-height: 2;
}
h3.center {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}
ul.house-list p {
    width: 77%;
	font-size: 14px;
}
.modal-body p {
    color: black;
    font-size: 14px;
    line-height: 30px;
}
.form-input {
    width: 100%;
}
h3.center {
    font-size: 30px;
    margin-bottom: 25px;
}
.form-input input {
    width: 100%;
}
textarea {
    width: 100%;
}
input[type="Submit"] {
    font-size: 14px;
}
.map iframe {
    width: 100%;
    height: 210px;
}
.nav-top {
    display: block;
    text-align: center;
}

}
@media screen and (max-width: 414px){
	.heading h1 {
    font-size: 31px;
}
.heading p {
    font-size: 14px;
    padding: 0px 10px;
    line-height: 1.7;
}
.heading .modal-body p {
    font-size: 14px;
    line-height: 1.9;
    margin-bottom: 0px;
}
.service .box {
    margin: 15px 0px;
}

.help-txt {
    width: 100%;
    padding: 20px 10px 30px;
    height: auto;
    background-color: rgba(255, 87, 34, 0.7);
}
.prop a {
    background-color: #009688;
    padding: 10px 25px;
    font-size: 14px;
}
.prop p {
    letter-spacing: 0.5px;
    line-height: 27px;
    font-size: 14px;
}
.prop h6 {
    margin: 10px;
    font-size: 20px;
}
ul.house-list p {
    width: 70%;
    font-size: 13px;
    line-height: 1.7;
}
.partner {
    margin-bottom: 20px;
    padding: 0px 5px;
}
h3.text-center {
    margin-bottom: 40px;
    font-size: 30px;
}
.guide-grids h4 {
    font-size: 16px;
}
.guide3, .guide1, .guide2, .guide4 {
    padding: 0px 5px;
}
.address {
    flex-direction: column;
}
.add-email {
    margin: 20px 0px;
}
h3.my-logo {
    font-size: 40px;
    margin: 20px 0px;
}
.heading {
    padding-top: 37%;
}

}
@media screen and (max-width: 384px){
	.container-fluid {
    padding: 0px 10px;
}
.row {
    margin: 0px;
}
.heading a {
    font-size: 14px;
}
.partner {
    padding: 0px 20px;
    width: 100%;
}
.partner p {
    letter-spacing: 1px;
    margin: 10px 0px;
}
	.prop {
    padding: 0px 10px;
    width: 100%;
}

.prop h6 {
    margin: 15px;
    font-size: 25px;
}
.guide3, .guide1, .guide2, .guide4 {
    padding: 0px 10px;
    width: 100% !important;
}
.guide-grids h4 {
    font-size: 20px;
}
.guide-grids p {
    margin: 10px 0px;
}

.map iframe {
    height: 200px;
}
div#about h2 {
    font-size: 18px;
}

}
@media screen and (max-width: 375px){
	.heading h1 {
    font-size: 30px;
}
.heading {
    padding-top: 42%;
}
.sam-contact a {
    padding: 0px 5px;
}
.sam-contact a span.fa {
    margin-right: 7px;
}
}
@media screen and (max-width: 320px){
	.sam-contact a {
    padding: 0px 5px;
    font-size: 13px;
}
.sam-contact a span.fa {
    margin-right: 6px;
}
.heading h1 {
    font-size: 25px;
}
div#about h2 {
    font-size: 16px;
}
#about h4 {
    font-size: 19px;
}
ul.icons1 {
    text-align: center;
    margin: 25px 0px;
}
h3.center {
    font-size: 26px;
}
h3.text-center {
    font-size: 26px;
}
ul.house-list p {
    width: 65%;
}
.modal-body p {
    color: black;
    font-size: 13px;
    line-height: 1.9;
	    margin-bottom: 10px;
}

}
/* .............................chat............................................................. */

.ui-chat-container {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.ui-chat-container .btn_chat_lancher {
    display: block;
    width: 61px;
    height: 61px;
    background-color: #c40f22;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    outline: none;
}
.ui-chat-container .btn_chat_lancher span.open_me {
	display: block;
    width: 100%;
    height: 100%;
    background: url(https://admin.v12dev.com/youssef/ui_chat/assets/img/v12_chat_icon_red.svg) no-repeat center;
    background-size: 35px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 40px;
    cursor: pointer;
    transition: all ease 400ms;
    transform: scale(0) rotate(40deg);
    opacity: 0;
}

.ui-chat-container .btn_chat_lancher span.open_me.active {
	transform: scale(1) rotate(0deg);
    opacity: 1;	
}

.ui-chat-container .btn_chat_lancher span.close_me {
	display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 40px;
    cursor: pointer;
    transition: all ease 400ms;
    transform: scale(0) rotate(40deg);
    opacity: 0;
}

.ui-chat-container .btn_chat_lancher span.close_me:before {
    content: "";
    width: 4px;
    height: 25px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ui-chat-container .btn_chat_lancher span.close_me:after {
    content: "";
    width: 4px;
    height: 25px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ui-chat-container .btn_chat_lancher span.close_me.active {
	transform: scale(1) rotate(0deg);
    opacity: 1;	
}

.ui-chat-container .btn_chat_lancher:hover,
.ui-chat-container .btn_chat_lancher:focus {
    background:#ea0019;
}

.ui-chat-container .step1_wrapper .close {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, .1);
    right: 10px;
    top: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

.ui-chat-container .step1_wrapper .close:before {
    content: "";
    width: 2px;
    height: 15px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 2px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ui-chat-container .step1_wrapper .close:after {
    content: "";
    width: 2px;
    height: 15px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 2px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ui-chat-container .step1_wrapper .close:hover,
.ui-chat-container .step1_wrapper .close:focus {
    background-color: rgba(0, 0, 0, .15);
}

.ui-chat-container .step1_wrapper {
    width: calc(100% - 50px);
    max-width: 385px;
    height: 199px;
    position: fixed;
    bottom: 100px;
    right: 25px;
    background: #fbfbfb;
    border-radius: 10px 10px 12px 12px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    transition: ease all 300ms;
    transform: translate(0px, 20px);
    pointer-events: none;
    opacity: 0;
}

.ui-chat-container .step1_wrapper.active {
    transform: translate(0px, 0px);
    pointer-events: all;
    opacity: 1;
}

.ui-chat-container .step1_wrapper.active.step2 {
    transform: translate(-20px, 0px);
    pointer-events: none;
    opacity: 0;
}

.ui-chat-container .step1_wrapper .instruction {
    position: relative;
    top: 35px;
}

.ui-chat-container .step1_wrapper .instruction h2 {
    font-family: 'Lato', sans-serif;
    padding-left: 100px;
    font-size: 23px;
    color: rgba(18, 26, 49, 0.91);
}

.ui-chat-container .step1_wrapper .instruction h3 {
    font-family: 'Lato', sans-serif;
    padding-left: 100px;
    font-size: 18px;
    padding-right: 70px;
    padding-top: 5px;
    color: rgba(18, 26, 49, 0.81);
}

.ui-chat-container .step1_wrapper .instruction .contact_logo {
    position: absolute;
    left: 20px;
    top: 7px;
    width: 60px;
    height: 60px;
    border: 1px solid #CCC;
    overflow: hidden;
    border-radius: 50px;
}

.ui-chat-container .step1_wrapper .instruction .contact_logo img {
    width: 100%;
}

.single_textus .chat_now_btn {
    display: block;
    width: 100%;
    height: 45px;
    background: #c40f22;
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    left: 0px;
    bottom: 0px;
    border: none;
    outline: none;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.single_messenger .chat_now_btn {
    display: block;
    width: 100%;
    height: 45px;
    background: #c40f22;
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    left: 0px;
    bottom: 0px;
    border: none;
    outline: none;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.both_messenger_textus .chat_now_btn {
    display: block;
    width: auto;
    min-width: 50%;
    height: 45px;
    background: #c40f22;
    position: absolute;
    border-radius: 0px 0px 0px 10px;
    left: 0px;
    bottom: 0px;
    border: none;
    outline: none;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.ui-chat-container .step1_wrapper.three_messenger_textus_livechat{
  height:auto;
  overflow: hidden;
}
.three_messenger_textus_livechat .chat_now_btn {
    display: block;
    width: auto;
    min-width: 33.33%;
    height: 45px;
    background: #c40f22;
    position: relative;
    float:left;
    border-radius: 0px;
/*     left: 0px; */
    bottom: 0px;
    border: none;
    outline: none;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 70px;
}
.chat_now_btn:hover,
.chat_now_btn:focus {
    background-color: #ea0019;
}
.single_messenger .chat_now_btn.textus {
	display: none;
}
.single_textus .chat_now_btn.messenger {
	display: none;
}

.single_textus .chat_now_btn.textus {
    left: unset;
    right: 0px;
    border-radius: 0px 0px 10px 10px;
    border-left: 1px solid rgba(123, 30, 30, 0.4);
}

.both_messenger_textus .chat_now_btn.textus {
    left: unset;
    right: 0px;
    border-radius: 0px 0px 10px 0px;
    border-left: 1px solid rgba(123, 30, 30, 0.4);
}


.ui-chat-container .step2_wrapper {
    width: calc(100% - 50px);
    max-width: 385px;
    min-height: 199px;
    position: fixed;
    bottom: 100px;
    right: 25px;
    background: #FFF;
    border-radius: 12px 12px 10px 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    transition: ease all 300ms;
    transform: translateX(20px);
    pointer-events: none;
    opacity: 0;
}

.ui-chat-container .step2_wrapper.active {
    transform: translateX(0px);
    pointer-events: all;
    opacity: 1;
}

.ui-chat-container .step2_wrapper.active.step3 {
    transform: translate(-20px, 0px);
    pointer-events: none;
    opacity: 0;
}

.ui-chat-container .step2_wrapper .header {
    background: #c40f22;
    width: 100%;
    min-height: 40px;
    border-radius: 10px 10px 0px 0px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding-top: 11px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}

.ui-chat-container .step2_wrapper .input-group {
    min-height: 50px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 20px;
    box-sizing: content-box;
}

.ui-chat-container .step2_wrapper .input-group label {
    display: block;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.ui-chat-container .step2_wrapper .input-group input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #CCC;
    margin-top: 10px;
    background-color: #fbfbfb;
    padding: 10px;
    box-sizing: border-box;
    outline-color: #c40f22;
	font-family: 'Lato', sans-serif;
}

.ui-chat-container .step2_wrapper .input-group textarea {
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 3px;
    border: 1px solid #CCC;
    margin-top: 10px;
    max-width: 100%;
    max-height: 150px;
    resize: none;
    background-color: #fbfbfb;
    padding: 10px;
    box-sizing: border-box;
    outline-color: #c40f22;
    font-family: 'Lato', sans-serif;
}

.ui-chat-container .step2_wrapper .input-group span.required {
    color: red;
}

.ui-chat-container .step2_wrapper .input-group span#remaining {
    display: block;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    padding-top: 5px;
}

.error{
	font-size: 12px;
    color: red;
    padding-top: 5px;
    font-family: 'Lato', sans-serif;
    display: none;
}
.error.active{
    display: block;
}

.ui-chat-container .step2_wrapper .input-group button {
    display: block;
    width: 100%;
    height: 45px;
    background: #c40f22;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 10px;
}

.ui-chat-container .step2_wrapper .input-group button:hover,
.ui-chat-container .step2_wrapper .input-group button:focus {
    background-color: #ea0019;
}

.ui-chat-container .step3_wrapper {
    width: calc(100% - 50px);
    max-width: 385px;
    min-height: 199px;
    position: fixed;
    bottom: 100px;
    right: 25px;
    padding: 20px;
    box-sizing: border-box;
    background: #fbfbfb;
    border-radius: 10px 10px 12px 12px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    transition: ease all 300ms;
    transform: translate(0px, 20px);
    pointer-events: none;
    opacity: 0;
}

.ui-chat-container .step3_wrapper.active {
    transform: translate(0px, 0px);
    pointer-events: all;
    opacity: 1;
}

.ui-chat-container .step3_wrapper .instruction {}

.ui-chat-container .step3_wrapper .instruction h2 {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    padding-bottom: 10px;
    font-size: 23px;
    color: rgba(18, 26, 49, 0.91);
}

.ui-chat-container .step3_wrapper .instruction p {
    font-family: 'Lato', sans-serif;
    padding-left: 100px;
    font-size: 15px;
    padding: 20px 0px;
    padding-top: 5px;
    color: rgba(18, 26, 49, 0.81);
}

.ui-chat-container .step3_wrapper .agree_btn {
    display: block;
    width: 100%;
    height: 45px;
    background: #c40f22;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 10px;
}
.ui-chat-container .step3_wrapper .agree_btn.disable {
  pointer-events:none;
  background:#333;
}
.ui-chat-container .step3_wrapper .agree_btn:hover,
.ui-chat-container .step3_wrapper .agree_btn:focus {
    background-color: #ea0019;
}

.ui-chat-container .step3_wrapper .disagree_btn {
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #6d6d6d;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    cursor: pointer;
	margin-bottom: 0px;
    margin-top: 0px;
}
.ui-chat-container .step3_wrapper .disagree_btn:hover,.ui-chat-container .step3_wrapper .disagree_btn:focus{
	color: #4a4949;
}
.ui-chat-container .step3_wrapper.active.step4 {
    transform: translate(-20px, 0px);
    pointer-events: none;
    opacity: 0;
}


.ui-chat-container .step4_wrapper {
    width: calc(100% - 50px);
    max-width: 385px;
    min-height: 199px;
    position: fixed;
    bottom: 100px;
    right: 25px;
    padding: 20px;
    box-sizing: border-box;
    background: #FFF;
    border-radius: 10px 10px 12px 12px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    transition: ease all 300ms;
    transform: translate(0px, 20px);
    pointer-events: none;
    opacity: 0;
}
.ui-chat-container .step4_wrapper .instruction img{
	width: 40px;
    margin-bottom: 20px;
    margin-top: 25px
}
.ui-chat-container .step4_wrapper .instruction {
	text-align: center;
}

.ui-chat-container .step4_wrapper .instruction h2 {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    padding-bottom: 10px;
    font-size: 17px;
    color: rgba(18, 26, 49, 0.91);
}

.ui-chat-container .step4_wrapper .instruction p {
    font-family: 'Lato', sans-serif;
    padding-left: 100px;
    font-size: 17px;
    padding: 20px 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    color: rgba(18, 26, 49, 0.51);
}

.ui-chat-container .step4_wrapper .send_it_btn {
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #2B95D6;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    cursor: pointer;
	margin-bottom: 15px;
    margin-top: 0px;
}
.ui-chat-container .step4_wrapper .send_it_btn:hover,.ui-chat-container .step4_wrapper .send_it_btn:focus{
	color: #2176ab;
}

.ui-chat-container .step4_wrapper.active {
    transform: translate(0px, 0px);
    pointer-events: all;
    opacity: 1;
}

.ui-chat-container .step5_wrapper {
    width: calc(100% - 50px);
    max-width: 385px;
    max-height: calc(100vh - 130px);
    height:100vh;
    position: fixed;
    bottom: 100px;
    right: 25px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    transition: ease all 300ms;
    transform: translateX(20px);
    pointer-events: none;
    opacity: 0;
}
.ui-chat-container .step5_wrapper iframe{
  border:none;
  width:100%;
  height:100%;
  border-radius:10px;
}
.ui-chat-container .step5_wrapper.active {
    transform: translate(0px, 0px);
    pointer-events: all;
    opacity: 1;
}
.all{
    background-color: rgb(255, 255, 255);
}
.tophig{
    margin-top: 10%;
}
.navbar-inverse {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
}
.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}
/* .......................shop............................... */
.product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:100%;height:230px;}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{opacity:1}
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.product-grid:hover .pic-2{opacity:1}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}
.product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .social li a:hover{color:#fff;background-color:#ef5777}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label{background-color:#33333303;left:auto;right:0}
.product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:-27px;z-index:1;transition:all .3s}
.product-grid:hover .product-content{bottom:0}
.product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid .title a{color:#828282}
.product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:12px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}
.product{
	border: 1px solid #dddddd;
	height: 321px;
}

.product>img{
	max-width: 230px;
}

.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title{
	font-size: 20px;
}

.product-desc{
	font-size: 14px;
}

.product-price{
	font-size: 22px;
}

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

.product-info{
		margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.contentp-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.containerp-fluid{
	max-width: 1140px;
	margin: 0 auto;
}

.viewp-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.containerp {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}

/*********************************************
				ITEM 
*********************************************/

.service1-items {
	padding: 0px 0 0px 0;
	float: left;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	height: 321px;
	width: 130px;
}

.service1-item {
	height: 107px;
	width: 120px;
	display: block;
	float: left;
	position: relative;
	padding-right: 20px;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.service1-item > img {
	max-height: 110px;
	max-width: 110px;
	opacity: 0.6;
	transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
	cursor: pointer;
	opacity: 1;
}

.service-image-left {
	padding-right: 50px;
}

.service-image-right {
	padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
	max-height: 155px;
}
.img-responsive {
    width: 100%;
}