<section class="branches py-md-5 pt-4">
    <div class="container">
        <div class="samls-titles text-center mb-5">
            <h3 class="title">
                <span class="hdng">Best </span>Offers</h3>
            <span class="btmspn">
                <i class="fas fa-bus"></i>
            </span>
            <p class="mt-2 mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum
                possimus temporibus vel ab, nesciunt quod!</p>
        </div>

        <div class="row py-5 branches-position">
            <div class="col-lg-3 col-md-6">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="images/h1.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h4 class="text-white">Turkey</h4>
                            <p class="team-meta"> 8 days…</p>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p class="team-meta">-Istanbul, </p>
                                <p class="team-meta">- Antalya,</p>
                                <p class="team-meta">
                                    -Ephesus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-lg-3 col-md-6">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="images/h2.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h4 class="text-white">United Kingdom</h4>
                            <p class="team-meta">13 days…</p>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p class="team-meta">-England, </p>
                                <p class="team-meta">- Scotland,</p>
                                <p class="team-meta">
                                    -Wales.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-lg-3 col-md-6">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="images/h3.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h4 class="text-white">Spain</h4>
                            <p class="team-meta">9 days…</p>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <p class="team-meta">-Madrid, </p>
                                <p class="team-meta">- Andalucia,</p>
                                <p class="team-meta">
                                    -Barcelona.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <div class="col-lg-3 col-md-6">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="images/h4.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h4 class="text-white">Europe</h4>
                            <p class="team-meta">10 days…</p>
                        </div>
                        <div class="overlay">
                            <div class="text tex-center">

                                <p class="team-meta">-Slovenia, </p>
                                <p class="team-meta">- Hungary,</p>
                                <p class="team-meta">
                                    -Poland.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .samls-titles p {
        width: 76%;
    }

    h3.title {
        color: #000;
        font-size: 42px;
    }

    .samls-titles i {
        color: #b84373;
        font-size: 26px;
        margin-top: 5px;
    }

    span.btmspn {
        position: relative;
    }

    span.btmspn:before {
        content: " ";
        background: #b84373;
        width: 64px;
        height: 2px;
        position: absolute;
        top: 9px;
        left: -75px;
    }
.team-block {
    margin-bottom: 20px;
}

.team-img {
    position: relative;
}

.team-img img {
    width: 100%;
}
.team-img:hover .overlay {
    opacity: .8;
}

.team-img:hover .team-content {
    opacity: 0;
}

    span.btmspn:after {
        content: " ";
        background: #b84373;
        width: 64px;
        height: 2px;
        position: absolute;
        top: 9px;
        right: -75px;
    }

    span.hdng {
        color: #b84373;
    }
</style>