<div class="agile-contact1">
				<div class="container">
				
					<div class="address">
						<div class="add-phone">
							<span class="fa fa-phone" aria-hidden="true"></span>
							<p>+91 8745 1245</p>
							<p>+91 8745 6789</p>
						</div>
						<div class="add-email">
							<span class="fa fa-envelope" aria-hidden="true"></span>
							<a href="mailto:abcd@thrillworld.com">me@thrillworld.com </a>
							<a href="mailto:abcd@thrillworld.com"> service@thrillworld.com </a>
							
						</div>
						<div class="add-area">
							<span class="fa fa-map-marker" aria-hidden="true"></span>
							<p>Kamcet</p>
							<p>Town Hills, Pune</p>
						</div>
					</div>
				
					
					<div class="footer-icons">
						<ul class="icons1">
							<li><a href="#" class="samls-facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
							<li><a href="#" class="samls-twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
							<li><a href="#" class="samls-google"><span class="fa fa-google-plus" aria-hidden="true"></span></a></li>
							<li><a href="#" class="samls-pinterest"><span class="fa fa-pinterest-p" aria-hidden="true"></span></a></li>
							<li><a href="#" class="samls-dribbble"><span class="fa fa-dribbble" aria-hidden="true"></span></a></li>
						</ul>
					</div>
				</div>
			</div>