<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<div id="displaywrap">
	<div id="logobx" style="display: block;">
	  
    <img src="http://www.andrewjtullio.com/codepen/generic-logo.png"  class="logo"/>
	</div>

	<div class="mainpanel" style="display: block;">
		<img src="http://www.andrewjtullio.com/codepen/close.png" class="rmsclose">
		<div class="thumbbx">

			<div class="roomthumb pqr">
				<span class="thmheader">Hotel 1</span>
				<img src="http://www.andrewjtullio.com/codepen/hotel1.jpg">
			</div>

			<div class="roomthumb qr">
				<span class="thmheader">Hotel 2</span>
				<img src="http://www.andrewjtullio.com/codepen/hotel2.jpg">
			</div>

			<div class="roomthumb qbr">
				<span class="thmheader">Hotel 3</span>
				<img src="http://www.andrewjtullio.com/codepen/hotel3.jpg">
			</div>

			<div class="clearfix"></div>

			<div class="roomthumb kr">
				<span class="thmheader">Hotel 4</span>
				<img src="http://www.andrewjtullio.com/codepen/hotel4.jpg">
			</div>

			<div class="roomthumb ddr">
				<span class="thmheader">Hotel 5</span>
				<img src="http://www.andrewjtullio.com/codepen/hotel5.jpg">
			</div>

			<div class="roomthumb btr">
				<span class="thmheader">Hotel 6</span>
				<img src="http://www.andrewjtullio.com/codepen/hotel6.jpg">
			</div>
		</div>
	</div>

		<div class="amenitiespanel" style="display: none;">
		<img src="http://www.andrewjtullio.com/codepen/close.png" class="rmsclose">
		<div class="amenbx">
			<strong>In-Room Amenities</strong>
			<ul style="margin-top:20px;">
          <li>Qui at nonumy lobortis concludaturque</li>
          <li>cu eros novum periculis eum</li>
          <li>Pro tacimates salutatus te</li>
          <li>eam ut dolorem electram euripidis</li>
          <li>minim splendide mediocritatem nam et</li>
          <li>Similique cotidieque eum in</li>
          <li>Fastidii disputationi vis ad</li>
          <li>Graeci molestiae mel at</li>
          <li>Quo an velit tamquam</li>
          <li>Discere diceret voluptatum vim at</li>
          <li>Autem viderer qui eu</li>
			</ul>
		</div>

		<div class="amenbx">
			<ul style="margin-top:35px; margin-left:90px;">
				<li>Qui at nonumy lobortis concludaturque</li>
          <li>cu eros novum periculis eum</li>
          <li>Pro tacimates salutatus te</li>
          <li>eam ut dolorem electram euripidis</li>
          <li>minim splendide mediocritatem nam et</li>
          <li>Similique cotidieque eum in</li>
          <li>Fastidii disputationi vis ad</li>
          <li>Graeci molestiae mel at</li>
			</ul>
		</div>

	</div>

	<div class="leftinfobx petiteqn" style="display: none;">
		<h2>Hotel 1 Info</h2>
    
   <p>Lorem ipsum dolor sit amet, modo numquam sed ex, vero solet vis at, rebum dolore vituperata usu et. Eum ad legimus accusamus, eum ludus reprimique ea, cu duo ferri ipsum efficiendi. Ei fugit nullam propriae mei, mei iriure fabellas quaerendum no.</p>
		
	<span class="rmamenslink"><span class="inroom">In-Room Amenities</span> &gt;</span>

		<div class="btmlinks">
			<img src="http://www.andrewjtullio.com/codepen/back.jpg" class="btmback">
			<a target="_blank"><img src="http://www.andrewjtullio.com/codepen/booknow.jpg" class="btmbooknow"></a>
		</div>

	</div>

	<div class="leftinfobx queenrm" style="display: none;">
		<h2>Hotel 2 Info</h2>
		<p>Lorem ipsum dolor sit amet, modo numquam sed ex, vero solet vis at, rebum dolore vituperata usu et. Eum ad legimus accusamus, eum ludus reprimique ea, cu duo ferri ipsum efficiendi. Ei fugit nullam propriae mei, mei iriure fabellas quaerendum no.</p>
		
	<span class="rmamenslink"><span class="inroom">In-Room Amenities</span> &gt;</span>

		<div class="btmlinks">
			<img src="http://www.andrewjtullio.com/codepen/back.jpg" class="btmback">
			<a target="_blank"><img src="http://www.andrewjtullio.com/codepen/booknow.jpg" class="btmbooknow"></a>
		</div>

	</div>

	<div class="leftinfobx queenbalcony" style="display: none;">
		<h2>Hotel 3 Info</h2>
		<p>Lorem ipsum dolor sit amet, modo numquam sed ex, vero solet vis at, rebum dolore vituperata usu et. Eum ad legimus accusamus, eum ludus reprimique ea, cu duo ferri ipsum efficiendi. Ei fugit nullam propriae mei, mei iriure fabellas quaerendum no.</p>
		
	<span class="rmamenslink"><span class="inroom">In-Room Amenities</span> &gt;</span>

		<div class="btmlinks">
			<img src="http://www.andrewjtullio.com/codepen/back.jpg" class="btmback">
			<a target="_blank"><img src="http://www.andrewjtullio.com/codepen/booknow.jpg" class="btmbooknow"></a>
		</div>

	</div>

	<div class="leftinfobx kingrm" style="display: none;">
		<h2>Hotel 4 Info</h2>
		<p>Lorem ipsum dolor sit amet, modo numquam sed ex, vero solet vis at, rebum dolore vituperata usu et. Eum ad legimus accusamus, eum ludus reprimique ea, cu duo ferri ipsum efficiendi. Ei fugit nullam propriae mei, mei iriure fabellas quaerendum no.</p>
		
	<span class="rmamenslink"><span class="inroom">In-Room Amenities</span> &gt;</span>

		<div class="btmlinks">
			<img src="http://www.andrewjtullio.com/codepen/back.jpg" class="btmback">
			<a target="_blank"><img src="http://www.andrewjtullio.com/codepen/booknow.jpg" class="btmbooknow"></a>
		</div>

	</div>

	<div class="leftinfobx ddrm">
		<h2>Hotel 5 Info</h2>
		<p>Lorem ipsum dolor sit amet, modo numquam sed ex, vero solet vis at, rebum dolore vituperata usu et. Eum ad legimus accusamus, eum ludus reprimique ea, cu duo ferri ipsum efficiendi. Ei fugit nullam propriae mei, mei iriure fabellas quaerendum no.</p>
		
	<span class="rmamenslink"><span class="inroom">In-Room Amenities</span> &gt;</span>

		<div class="btmlinks">
			<img src="http://www.andrewjtullio.com/codepen/back.jpg" class="btmback">
			<a target="_blank"><img src="http://www.andrewjtullio.com/codepen/booknow.jpg" class="btmbooknow"></a>
		</div>

	</div>

	<div class="leftinfobx dtrm">
		<h2>Hotel 6 Info</h2>
		<p>Lorem ipsum dolor sit amet, modo numquam sed ex, vero solet vis at, rebum dolore vituperata usu et. Eum ad legimus accusamus, eum ludus reprimique ea, cu duo ferri ipsum efficiendi. Ei fugit nullam propriae mei, mei iriure fabellas quaerendum no.</p>
		
	<span class="rmamenslink"><span class="inroom">In-Room Amenities</span> &gt;</span>

		<div class="btmlinks">
			<img src="http://www.andrewjtullio.com/codepen/back.jpg" class="btmback">
			<a target="_blank"><img src="http://www.andrewjtullio.com/codepen/booknow.jpg" class="btmbooknow"></a>
		</div>

	</div>
</div>
<style>
	div#logobx {
  width: 312px; 
  height: 320px; 
  background-color: rgba(74, 123, 141, 0.93); 
  position: absolute; 
  display: block; 
  border-bottom: 75px solid rgba(33,34,37,0.9);
}
.mainpanel {
  width: 886px; 
  height: 396px;
  background-color: #f2e6da;
  opacity: .95; 
  position: absolute;
  left: 320px; 

}
.amenitiespanel {width: 886px;
  height: 396px;
  background-color: #f2e6da;
  opacity: .95;
  left: 320px;
  position: absolute; display: none; 
  padding-left: 40px;
  color: #000000;
  font-size: 16px;
}
.amenitiespanel ul {
  color: #000000;
}
.amenbx {
  padding-top: 40px; 
  float: left;
}
.amenbx ul li {
  list-style-type: disc; 
  margin-left: 19px;
  margin-bottom: 5px; 
  padding-left: 20px;
}

img.rmsclose {
  
  position: absolute;
  top: 30px; 
  right: 30px; cursor: pointer;
}
.thumbbx {
  padding-left:50px; 
  padding-top: 30px;
}
.roomthumb {
  width: 233px;
  height: 144px;
  position: relative;
  cursor: pointer;
  float: left; 
  padding: 12px;
}
span.thmheader {
  position: absolute; 
  text-align: center; display: block; 
  width: 233px;
  padding-top: 15px;
  height: 35px; 
  background-color: rgba(33,34,37,0.9); 
  font-style: italic; 
  font-size: 16px; color: #ffffff;
}
.roomthumb:hover span.thmheader {
  background-color: rgba(74,123,141,0.9);
  transition: all 175ms linear;
}
.leftinfobx {
  position: absolute; 
  width: 272px;
  height: 356px; 
  color: #ffffff; 
  padding: 20px; 
  font-size: 16px;
  line-height: 1.3em;
  background-color:rgba(72, 118, 135, 0.95);
}
.leftinfobx h2 {
  color: #ffcd97; 
  text-transform: uppercase; text-align: center; 
  font-size: 22px; 
  margin-bottom: 25px; margin-top: 15px; 
  text-shadow: 2px 2px 1px #406671;
}
.leftinfobx p {
  
  text-align: justify;
  text-shadow: 2px 2px 1px #406671;
}
span.inroom {color: #ffcd97;
  font-weight: bold; 
  margin-right: 4px;
}
span.rmamenslink {
  position: absolute;
  bottom: 90px; 
  cursor: pointer;
}
.btmlinks {
  width: 312px; 
  height: 75px; 
  background-color: rgba(33,34,37,0.9);
  position: absolute; 
  left: 0px; 
  bottom: 0px;
}
.btmlinks img {
  margin-top: 18px;
  cursor: pointer;
}
img.btmback {
  margin-left: 20px;
  margin-right: 15px;
}

.leftinfobx.petiteqn, .leftinfobx.queenrm, .leftinfobx.queenbalcony, .leftinfobx.kingrm, .leftinfobx.ddrm, {
  display: none;
}
.leftinfobx.petiteqn {
  display: none;
}
.leftinfobx.queenrm {
  display: none;
}
.leftinfobx.queenbalcony {
  display: none;
}
.leftinfobx.kingrm {
  display: none;
}
.leftinfobx.ddrm {
  display: none;
}
.leftinfobx.dtrm {display: none;}
</style>
<script>
	        $(".roomthumb.pqr").click(function(){
			    $(".leftinfobx.petiteqn").fadeIn();
			    $("div#logobx").fadeOut();
			    $("a#bestrate").fadeOut();
			    $(".mainpanel").toggle('slide', { direction: 'left' }, 700);
			    $("body").backstretch("http://www.andrewjtullio.com/codepen/hotel1bg.jpg", {fade: 750});
			  });

			  $(".roomthumb.qr").click(function(){
			    $(".leftinfobx.queenrm").fadeIn();
			    $("div#logobx").fadeOut();
			    $("a#bestrate").fadeOut();
			    $(".mainpanel").toggle('slide', { direction: 'left' }, 700);
			    $("body").backstretch("http://www.andrewjtullio.com/codepen/hotel2bg.jpg", {fade: 750});
			  });

			  $(".roomthumb.qbr").click(function(){
			    $(".leftinfobx.queenbalcony").fadeIn();
			    $("div#logobx").fadeOut();
			    $("a#bestrate").fadeOut();
			    $(".mainpanel").toggle('slide', { direction: 'left' }, 700);
			    $("body").backstretch("http://www.andrewjtullio.com/codepen/hotel3bg.jpg", {fade: 750});
			  });

			  $(".roomthumb.kr").click(function(){
			    $(".leftinfobx.kingrm").fadeIn();
			    $("div#logobx").fadeOut();
			    $("a#bestrate").fadeOut();
			    $(".mainpanel").toggle('slide', { direction: 'left' }, 700);
			    $("body").backstretch("http://www.andrewjtullio.com/codepen/hotel4bg.jpg", {fade: 750});
			  });

			  $(".roomthumb.ddr").click(function(){
			    $(".leftinfobx.ddrm").fadeIn();
			    $("div#logobx").fadeOut();
			    $("a#bestrate").fadeOut();
			    $(".mainpanel").toggle('slide', { direction: 'left' }, 700);
			    $("body").backstretch("http://www.andrewjtullio.com/codepen/hotel5bg.jpg", {fade: 750});
			  });

			  $(".roomthumb.btr").click(function(){
			    $(".leftinfobx.dtrm").fadeIn();
			    $("div#logobx").fadeOut();
			    $("a#bestrate").fadeOut();
			    $(".mainpanel").toggle('slide', { direction: 'left' }, 700);
			    $("body").backstretch("http://www.andrewjtullio.com/codepen/hotel6bg.jpg", {fade: 750});
			  });

			  $("img.btmback").click(function(){
			    $(".leftinfobx").fadeOut();
			    $("div#logobx").fadeIn();
			    $("a#bestrate").fadeIn();
			    $(".amenitiespanel").hide();
			    $(".mainpanel").toggle('slide', { direction: 'left' }, 700);
			    $("#imagewrap").backstretch("[#text:header-img#]", {fade: 750});

			  });

			  $(".mainpanel img.rmsclose, img.logo").click(function () {
			    $(".mainpanel").toggle('slide', { direction: 'left' }, 700);
			});

			$(".amenitiespanel img.rmsclose").click(function () {
			    $(".amenitiespanel").toggle('slide', { direction: 'left' }, 700);
			});

			  $("span.rmamenslink").click(function () {
			    $(".amenitiespanel").toggle('slide', { direction: 'left' }, 700);
			});



/*! Backstretch - v2.0.4 - 2013-06-19
* http://srobbin.com/jquery-plugins/backstretch/
* Copyright (c) 2013 Scott Robbin; Licensed MIT */
(function(a,d,p){a.fn.backstretch=function(c,b){(c===p||0===c.length)&&a.error("No images were supplied for Backstretch");0===a(d).scrollTop()&&d.scrollTo(0,0);return this.each(function(){var d=a(this),g=d.data("backstretch");if(g){if("string"==typeof c&&"function"==typeof g[c]){g[c](b);return}b=a.extend(g.options,b);g.destroy(!0)}g=new q(this,c,b);d.data("backstretch",g)})};a.backstretch=function(c,b){return a("body").backstretch(c,b).data("backstretch")};a.expr[":"].backstretch=function(c){return a(c).data("backstretch")!==p};a.fn.backstretch.defaults={centeredX:!0,centeredY:!0,duration:5E3,fade:0};var r={left:0,top:0,overflow:"hidden",margin:0,padding:0,height:"100%",width:"100%",zIndex:-999999},s={position:"absolute",display:"none",margin:0,padding:0,border:"none",width:"auto",height:"auto",maxHeight:"none",maxWidth:"none",zIndex:-999999},q=function(c,b,e){this.options=a.extend({},a.fn.backstretch.defaults,e||{});this.images=a.isArray(b)?b:[b];a.each(this.images,function(){a("<img />")[0].src=this});this.isBody=c===document.body;this.$container=a(c);this.$root=this.isBody?l?a(d):a(document):this.$container;c=this.$container.children(".backstretch").first();this.$wrap=c.length?c:a('<div class="backstretch"></div>').css(r).appendTo(this.$container);this.isBody||(c=this.$container.css("position"),b=this.$container.css("zIndex"),this.$container.css({position:"static"===c?"relative":c,zIndex:"auto"===b?0:b,background:"none"}),this.$wrap.css({zIndex:-999998}));this.$wrap.css({position:this.isBody&&l?"fixed":"absolute"});this.index=0;this.show(this.index);a(d).on("resize.backstretch",a.proxy(this.resize,this)).on("orientationchange.backstretch",a.proxy(function(){this.isBody&&0===d.pageYOffset&&(d.scrollTo(0,1),this.resize())},this))};q.prototype={resize:function(){try{var a={left:0,top:0},b=this.isBody?this.$root.width():this.$root.innerWidth(),e=b,g=this.isBody?d.innerHeight?d.innerHeight:this.$root.height():this.$root.innerHeight(),j=e/this.$img.data("ratio"),f;j>=g?(f=(j-g)/2,this.options.centeredY&&(a.top="-"+f+"px")):(j=g,e=j*this.$img.data("ratio"),f=(e-b)/2,this.options.centeredX&&(a.left="-"+f+"px"));this.$wrap.css({width:b,height:g}).find("img:not(.deleteable)").css({width:e,height:j}).css(a)}catch(h){}return this},show:function(c){if(!(Math.abs(c)>this.images.length-1)){var b=this,e=b.$wrap.find("img").addClass("deleteable"),d={relatedTarget:b.$container[0]};b.$container.trigger(a.Event("backstretch.before",d),[b,c]);this.index=c;clearInterval(b.interval);b.$img=a("<img />").css(s).bind("load",function(f){var h=this.width||a(f.target).width();f=this.height||a(f.target).height();a(this).data("ratio",h/f);a(this).fadeIn(b.options.speed||b.options.fade,function(){e.remove();b.paused||b.cycle();a(["after","show"]).each(function(){b.$container.trigger(a.Event("backstretch."+this,d),[b,c])})});b.resize()}).appendTo(b.$wrap);b.$img.attr("src",b.images[c]);return b}},next:function(){return this.show(this.index<this.images.length-1?this.index+1:0)},prev:function(){return this.show(0===this.index?this.images.length-1:this.index-1)},pause:function(){this.paused=!0;return this},resume:function(){this.paused=!1;this.next();return this},cycle:function(){1<this.images.length&&(clearInterval(this.interval),this.interval=setInterval(a.proxy(function(){this.paused||this.next()},this),this.options.duration));return this},destroy:function(c){a(d).off("resize.backstretch orientationchange.backstretch");clearInterval(this.interval);c||this.$wrap.remove();this.$container.removeData("backstretch")}};var l,f=navigator.userAgent,m=navigator.platform,e=f.match(/AppleWebKit\/([0-9]+)/),e=!!e&&e[1],h=f.match(/Fennec\/([0-9]+)/),h=!!h&&h[1],n=f.match(/Opera Mobi\/([0-9]+)/),t=!!n&&n[1],k=f.match(/MSIE ([0-9]+)/),k=!!k&&k[1];l=!((-1<m.indexOf("iPhone")||-1<m.indexOf("iPad")||-1<m.indexOf("iPod"))&&e&&534>e||d.operamini&&"[object OperaMini]"==={}.toString.call(d.operamini)||n&&7458>t||-1<f.indexOf("Android")&&e&&533>e||h&&6>h||"palmGetResource"in d&&e&&534>e||-1<f.indexOf("MeeGo")&&-1<f.indexOf("NokiaBrowser/8.5.0")||k&&6>=k)})(jQuery,window);

$("body").backstretch("http://www.andrewjtullio.com/codepen/hotel.jpg");
</script>