<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Filters</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

               
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Stay Type
                    </a>
                    <ul class="dropdown-menu">
                        {{#each navcats}}
                <li>
                    <a href="/category/{{this._id}}?q={{../q}}">{{this._id}}
                        <span class="pull-right">({{this.count}})</span>
                    </a>
                </li>
                {{/each}}
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Events Type
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/shopa">
                                Regular
                            </a>


                        </li>
                        <li>
                            <a href="/shopd">
                                Single day
                            </a>


                        </li>
                    </ul>

                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Events Price
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/shopa">
                                Low to High
                            </a>


                        </li>
                        <li>
                            <a href="/shopd">
                                High to Low
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/shop">Distance</a>
                </li>
                <li>
                    <a href="/shop">Reset all</a>
                </li>
               <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Map
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/shops">
                                show
                            </a>


                        </li>
                        <li>
                            <a href="/shoph">
                               hide
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>
</nav>