<div id="slideshow">
  <div class="fullwidthbanner-container">
    <div class="revolution-slider rev_slider" style="height: 0; overflow: hidden;">
      <ul>
        <!-- SLIDE  -->
        <!-- Slide1 -->
        <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
          <!-- MAIN IMAGE -->
          <img src="images/fullscreen/1banner.jpg" alt="">
        </li>

        <!-- Slide2 -->
        <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">
          <!-- MAIN IMAGE -->
          <img src="images/fullscreen/2banner.jpg" alt="">
        </li>

        <!-- Slide3 -->
        <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1500">
          <!-- MAIN IMAGE -->
          <img src="images/fullscreen/3banner.jpg" alt="">
        </li>
      </ul>
    </div>
  </div>
</div>